<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty scope="context" name="application_name" source="spring.application.name"/>
    <springProperty scope="context" name="log_dir" source="logging.file.path"/>

    <appender name="jsonConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp/>
                <version/>
                <pattern>
                    <pattern>
                        {
                        "message": "#tryJson{%message}",
                        "traceId": "%mdc{traceId}",
                        "spanId": "%mdc{spanId}"
                        }
                    </pattern>
                </pattern>
                <loggerName/>
                <threadName/>
                <logLevel/>
                <mdc/>
                <arguments/>
                <logstashMarkers/>
                <stackTrace>
                    <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
                        <maxDepthPerThrowable>10</maxDepthPerThrowable>
                        <maxLength>2048</maxLength>
                        <shortenedClassNameLength>32</shortenedClassNameLength>
                        <exclude>sun\.reflect\..*\.invoke.*</exclude>
                        <exclude>net\.sf\.cglib\.proxy\.MethodProxy\.invoke</exclude>
                        <rootCauseFirst>true</rootCauseFirst>
                    </throwableConverter>
                </stackTrace>
            </providers>
        </encoder>
    </appender>

    <appender name="jsonFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log_dir:-logs}/app-json-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp/>
                <version/>
                <pattern>
                    <pattern>
                        {
                        "message": "#tryJson{%message}",
                        "traceId": "%mdc{traceId}",
                        "spanId": "%mdc{spanId}"
                        }
                    </pattern>
                </pattern>
                <loggerName/>
                <threadName/>
                <logLevel/>
                <mdc/>
                <arguments/>
                <logstashMarkers/>
                <stackTrace>
                    <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
                        <maxDepthPerThrowable>10</maxDepthPerThrowable>
                        <maxLength>2048</maxLength>
                        <shortenedClassNameLength>32</shortenedClassNameLength>
                        <exclude>sun\.reflect\..*\.invoke.*</exclude>
                        <exclude>net\.sf\.cglib\.proxy\.MethodProxy\.invoke</exclude>
                        <rootCauseFirst>true</rootCauseFirst>
                    </throwableConverter>
                </stackTrace>
            </providers>
        </encoder>
    </appender>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="co/elastic/logging/logback/boot/ecs-console-appender.xml"/>
    <root level="INFO">
        <appender-ref ref="jsonConsoleAppender" />
        <appender-ref ref="jsonFileAppender" />
        <appender-ref ref="ECS_JSON_CONSOLE"/>
    </root>
</configuration>
